:root {
  --main-color: rgba(245, 236, 217, 0.689);
  --text-color: rgb(83, 74, 52);
  --footer-back: #efeeeba5;
  --footer-text: #bdbdbd;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
/* 마진 패딩 초기화 */
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
/* 페이지 기본 글꼴과 크기 설정 */
img {
  border: 0;
}
ul {
  list-style-type: none;
}
/* <a> 태그 기본 설정 */
a {
  display: inline-block;
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: none;
  color: var(--text-color);
}
a:visited {
  text-decoration: none;
  color: var(--text-color);
}
a:active {
  text-decoration: none;
  color: var(--text-color);
}
/* header */
header {
  height: auto;
  position: relative;
}
.header_box {
  height: 150px;
  /* sticky */
  position: sticky;
  top: 0;
}
#top {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#top_menu {
  font-size: 0.9rem;
  display: flex;
  justify-content: right;
  margin: 0.3rem 2rem;
}
#top_menu li {
  margin-right: 0.5rem;
}
#logo {
  font-family: "Noto Serif SC", serif;
  margin: 1.5rem 0;
  /* font-weight: 400; */
  font-size: 2.8rem;
}
#menu_bar {
  margin: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu_bar ul {
  display: flex;
}
#menu_bar li {
  font-family: "Noto Serif KR", serif;
  font-size: 1.2rem;
  margin: auto 2rem;
}

/* footer */
#footer_content {
  padding-top: 2rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--footer-back);
  color: var(--footer-text);
  font-size: 0.8rem;
}
#footer_content #footer_text li {
  margin: 0.2rem 0;
}
#footer_link span {
  width: 1.5rem;
  margin: 1rem 1.4rem;
}
#footer_link ul {
  margin: 1rem;
  display: flex;
}
