:root {
  --main-color: rgba(245, 236, 217, 0.689);
  --main-text: rgb(70, 61, 40);
  --contact-text-color: rgb(101, 90, 66);
  --contact-bar-color: rgba(119, 105, 79, 0.431);
  /* --footer-back: #eeeeee; */
  --footer-text: #bdbdbd;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 6rem;
  text-align: left;
}
#contact_box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
#contact_box div {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 3rem;
  color: var(--contact-text-color);
}
#contact_box span {
  max-width: 550px;
}
h4 {
  width: 12rem;
  font-weight: 800;
  color: var(--main-text);
  border-right: 0.2rem solid var(--contact-bar-color);
  margin-right: 0.5rem;
}
