:root {
  --main-color: rgba(245, 236, 217, 0.689);
  --main-text: rgb(70, 61, 40);
  --contact-text-color: rgb(101, 90, 66);
  --contact-bar-color: rgba(119, 105, 79, 0.431);
  --footer-text: #bdbdbd;
}
.works {
  display: flex;
  flex-flow: column wrap;
  width: 55%;
  margin: 3rem auto;
  color: var(--contact-text-color);
}
h3 {
  font-size: 1rem;
  color: var(--main-text);
  margin-top: 30px;
  margin-bottom: 1rem;
  padding: 10px;
}
.works_box li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.img_container {
  width: 350px;
  height: 100%;
}
img {
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
table {
  margin-top: 2rem;
  width: 480px;
  text-align: left;
}
th {
  width: 5.5rem;
}
p {
  color: var(--contact-text-color);
}
/* 이미지 클릭 시, 밝기 조절 */
.img_container:hover {
  opacity: 0.8;
  display: block;
}

button {
  float: right;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}
